<div class="top">

	<a class="active" href="#home">Analytics Login</a>
	<div class="me"><a href="">+353906465977<img src="/assets/phone-icon.svg" width="30px"> </a></div>
	<div class="mes"><a href="">hello@mersus.ie<img src="/assets/email-icon.svg" width="30px"> </a></div>


	<a href="https://www.linkedin.com/company/makin-media-mobile/"><img src="/assets/Social/linkedin_icon.svg"
			width="30px"> </a>
	<a href="https://www.youtube.com/user/makinmediamobile/videos"><img src="/assets/Social/youtube_icon.svg"
			width="30px"></a>
	<a href="https://twitter.com/MersusTech"><img src="/assets/Social/twitter_icon.svg" width="30px"></a>
	<a href="https://www.instagram.com/mersustech/"><img src="/assets/Social/instagram_icon.svg" width="30px"></a>
	<a href="https://www.facebook.com/mersustech/"><img src="/assets/Social/facebook_icon.svg" width="30px"></a>

</div>

<nav (scroll)="onscroll()" [ngClass]="navbarfixed?'fixed':'notfixed'">
	<input id="nav-toggle" type="checkbox">
	<div class="logo"> <img src="assets/avataracademyogowhite.svg" alt="image" width="400px" height="400px">
	</div>

	<ul class="links">
		<!-- <div class="under"> -->
			<li><span><a routerLink="/about">About</a></span></li>
		<!-- </div> -->
		<li><a routerLink="/our-team">Our Team</a></li>
		<li><a href="#">Project</a></li>
		<li><a href="#">Blog</a></li>
		<li><a href="#">Contact</a></li>


	</ul>
	<label for="nav-toggle" class="icon-burger">
		<div class="line"></div>
		<div class="line"></div>
		<div class="line"></div>
	</label>
</nav>

<!-- <div class="container">
	<video loop autoplay class="back-video">
		<source src="/assets/AVA_website_header_v1.mp4" type="video/mp4">
	</video>

</div> -->