    <footer>
 <div class="footer_info">
 <div class="footer_width about">
   <div class="data">
    <!-- <h2> <img src="/assets/avataracademyogowhite.svg" class="fot" > </h2> -->
  <img src="/assets/avataracademyogowhite.svg" class="fot" > 
    <h2>     <img src="/assets/AVA_tagline.svg" class="fot" > </h2>

   </div>
     

    <div class="part">
    <p>Transforming training through <br> Immersive learning.</p>
  </div>
  <div class="look">    <img src="/assets/OculusISV.svg" class="fot" >
  </div>
   
  
 </div>

 <div class="footer_width link">
  <h2>Address</h2>
  <div class="foot">
  <p>Suite 14, Inish Carraig Business<br>
  Centre, Golden Island, Athlone, <br>
  Co. Westmeath, Ireland <br>
  N37 ET67 <br>
  CRO: 624394</p>  
</div>
  <div class="social-mdeia">
    <p><a href="https://www.facebook.com/mersustech/"><img src="/assets/Social/facebook_icon.svg" width="30px"></a></p>
    <p> <a href="https://www.instagram.com/mersustech/"><img src="/assets/Social/instagram_icon.svg" width="30px"></a></p>
    <p><a href="https://twitter.com/MersusTech"><img src="/assets/Social/twitter_icon.svg" width="30px"></a></p>
    <p><a href="https://www.youtube.com/user/makinmediamobile/videos"><img src="/assets/Social/youtube_icon.svg" width="30px"></a></p> 
    <p><a href="https://www.linkedin.com/company/makin-media-mobile/"><img src="/assets/Social/linkedin_icon.svg" width="30px"> </a></p> 
    <!-- <p>Terms & Conditions</p> -->

  </div>
</div>

<div class="footer_width contact">
  <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1860.6245891454835!2d-7.9330967839873985!3d53.42132237679351!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485c49980fb295dd%3A0x7f25209d68d893e8!2sMersus%20Technologies!5e1!3m2!1sen!2sie!4v1649343538817!5m2!1sen!2sie" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
</div>
 </div>

 <div class="copy-right">
<p>Avatar Academy is a <a href="https://mersus.io/">Mersus Technologiest </a> product </p>
</div>   
</footer>