<!-- 
   

   <div class="about">
    <div fxLayout="column"  fxLayoutAlign="space-evenly center" >
     
    <img mat-card-image src="/assets/backgrounds/AVA_hex background2_v2.svg" width="100%" >
    <div class="top-lefts">Top Left</div>

    <h1>About Us</h1>
    <iframe width="400" height="845" src="https://www.youtube.com/embed/tgbNymZ7vqY">
    </iframe>
    <img mat-card-image src="/assets/theteam/Dermot.jpg" alt="Photo of a Shiba Inu">
    <img mat-card-image src="/assets/theteam/Dermot.jpg" alt="Photo of a Shiba Inu">

    <img mat-card-image src="/assets/backgrounds/AVA_hex background2_v2.svg" >

    </div>
   </div> -->


   <!-- The Start -->
   <div class="container">
    <div class="back-video">
      <img src="/assets/AVA_aboutheader.jpg" alt="image" width="100%">
       <div class="text-block">
        <!-- <h4>Our goal is to create high value jobs</h4> -->
        <p>Transfrorming training<br>
        through immersive learning</p>
            </div>
      </div>
  </div>

  <!-- <div class="content">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" >
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
        <mat-card class="example-card"  fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
          </mat-card-header>
          <div class="do"> <img mat-card-image src="/assets/backgrounds/AVA_hex background2_v2.svg" alt="Photo of a Shiba Inu"></div>
          <mat-card-title>Geoffrey Allen</mat-card-title>
          <mat-card-subtitle>Business Development</mat-card-subtitle>
          <mat-card-content>
            <p>
              Back in 1988 Geoffrey started his career in digital media. His life-long passion for film and conventional art culminated with a Masters from the Huston School of Film where the concept for Mersus Technologies was formed.
            </p>
          </mat-card-content>
        </mat-card>
  
        <mat-card class="example-card"  fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            </mat-card-header>
          <img mat-card-image src="/assets/AVA_about_usability.jpg" alt="Photo of a Shiba Inu">
          <mat-card-title>Dermot Condron</mat-card-title>
          <mat-card-subtitle>Head of Production</mat-card-subtitle>
          <mat-card-content>
            <p>
              Co-founding Mersus Technologies, Dermot heads up the production team. He has a passion for editing and he looks to utilise current and emerging technologies to best facilitate their clients needs.
            </p>
          </mat-card-content>
        </mat-card>
  
        <mat-card class="example-card"  fxFlex="80%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            </mat-card-header>
          <img mat-card-image src="/assets/theteam/brenda.jpg" alt="Photo of a Shiba Inu">
          <mat-card-title>Brenda Mannion</mat-card-title>
          <mat-card-subtitle>Head of Operations</mat-card-subtitle>
          <mat-card-content>
            <p>
              Experienced Operations Manager with a demonstrated history of working in industry. Skilled in Customer Service, Management, Strategic Planning, Business Development, and Business Strategy for 20 plus years.
            </p>
          </mat-card-content>
        </mat-card>
        
      
    
    </div>
  </div>
  <h3>Join the Team
  <div class="example-button-row">
    <button mat-raised-button >Apply Now</button>
    <div class="ws"><img mat-card-image src="/assets/Odeh.jpg" ></div>
  
  </div> -->
  <!-- <div class="ws"><img mat-card-image src="/assets/Odeh.jpg" ></div> -->
  
  <!-- </h3> -->

  <div class="bounds">

    <div class="content" fxLayoutAlign="stretch"  fxLayout="column" fxLayout.xs="column" fxFlexFill>
  
      <div fxFlex="100%" class="sec1" fxFlex.xs="100%">
     <!-- <img mat-card-image src="/assets/backgrounds/AVA_hex background2_v2.svg" alt="Photo of a Shiba Inu"> -->
       About Us
       <p>Avatar Academy™ creates authentic simulations for immersive learning that mirror the real world process of bio-tech or medical device assembly.
      </p>
       <p>Our value proposition is anchored in design and creativity, with an emphasis on engaging narrative, resulting in a powerful and versatile training tool.</p>
      </div>
      <div fxFlex="100" class="sec2" fxFlex.xs="15%">
     <iframe width="100%" height="100%" src="https://www.youtube.com/embed/h-r72Je2Y5A"></iframe>

      
      </div>
      <div fxFlex="100%" class="sec3" fxFlex.xs="15">
        Portable VR section
        <p>Without Controllers <br>
          Avatar Academy uses hand gestures to imitate real world interactions. Intuitive and easy. Thanks to our status as Oculus ISV Partner. Controllers may still be used for anyone with accessibility issues.
          </p>
      </div>
     
      <div fxFlex="100%" class="sec4" fxFlex.xs="15">
        Immersive Training
        <p>Scaled <br>
           Portable headsets for in-house or remote standardised training. Repeat as often as you like. Every Avatar Academy headset can run an entire library of immersive training courses accessible anywhere in the world.</p>
      </div>

      <div fxFlex="100%" class="sec5" fxFlex.xs="15">
        Powerful Analytics
        <p>Track Progress & Adapt Training <br>
          Great training requires great feedback, and because immersive training takes place digitally, we are able to capture an amazing amount of data, more than live training could ever offer. This critical information gives the trainer a deeper understanding of the trainee’s progress and abilities.</p>
      </div>
    </div>
  
  </div>