<div class="container">
	<div class="back-video">
     <img src="/assets/AVA_aboutheader.jpg" alt="image" width="100%">
    </div>
</div>
    <!-- <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Extra large</mat-card-subtitle>
        <img mat-card-xl-image src="/assets/backgrounds/AVA_hex background2_v2.svg" >
      </mat-card-title-group>
      <mat-card-content>
      </mat-card-content>
    </mat-card> -->

   <div class="about">
    <div fxLayout="column"  fxLayoutAlign="space-evenly center" >
     
    <img mat-card-image src="/assets/backgrounds/AVA_hex background2_v2.svg" >
    <h1>About Us</h1>
    <iframe width="400" height="845" src="https://www.youtube.com/embed/tgbNymZ7vqY">
    </iframe>
    <img mat-card-image src="/assets/theteam/Dermot.jpg" alt="Photo of a Shiba Inu">
    <img mat-card-image src="/assets/theteam/Dermot.jpg" alt="Photo of a Shiba Inu">

    <img mat-card-image src="/assets/backgrounds/AVA_hex background2_v2.svg" >

    </div>
   </div>