<div class="container">
	<div class="back-video">
     <img src="/assets/AVA_theteam.jpg" alt="image" width="100%">
     <div class="text-block">
      <!-- <h4>Our goal is to create high value jobs</h4> -->
      <p>Our goal is to create high value jobs<br>
      by helping Irish business compete globally.</p>
          </div>
   
    </div>
  
</div>
<div class="content">
<div class="w"><img mat-card-image src="/assets/Odeh.jpg" ></div>
  <h1><b>Meet the Team </b></h1>
  <div fxLayout="row wrap" fxLayoutAlign="space-between center" >
    <!-- <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%"> -->
      <mat-card class="example-card"  fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="50%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
        </mat-card-header>
        <div class="do"> <img mat-card-image src="/assets/theteam/Geoff.jpg" alt="Photo of a Shiba Inu"></div>
        <mat-card-title>Geoffrey Allen</mat-card-title>
        <mat-card-subtitle>Business Development</mat-card-subtitle>
        <mat-card-content>
          <p>
            Back in 1988 Geoffrey started his career in digital media. His life-long passion for film and conventional art culminated with a Masters from the Huston School of Film where the concept for Mersus Technologies was formed.
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card"  fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="50%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          </mat-card-header>
        <img mat-card-image src="/assets/theteam/Dermot.jpg" alt="Photo of a Shiba Inu">
        <mat-card-title>Dermot Condron</mat-card-title>
        <mat-card-subtitle>Head of Production</mat-card-subtitle>
        <mat-card-content>
          <p>
            Co-founding Mersus Technologies, Dermot heads up the production team. He has a passion for editing and he looks to utilise current and emerging technologies to best facilitate their clients needs.
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card"  fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="50%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          </mat-card-header>
        <img mat-card-image src="/assets/theteam/brenda.jpg" alt="Photo of a Shiba Inu">
        <mat-card-title>Brenda Mannion</mat-card-title>
        <mat-card-subtitle>Head of Operations</mat-card-subtitle>
        <mat-card-content>
          <p>
            Experienced Operations Manager with a demonstrated history of working in industry. Skilled in Customer Service, Management, Strategic Planning, Business Development, and Business Strategy for 20 plus years.
          </p>
        </mat-card-content>
      </mat-card>
      
      <mat-card class="example-card"  fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="50%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          </mat-card-header>
        <img mat-card-image src="/assets/theteam/Tierna.jpg" alt="Photo of a Shiba Inu">
        <mat-card-title>Tierna Lawless</mat-card-title>
        <mat-card-subtitle>Technical Developer</mat-card-subtitle>
        <mat-card-content>
          <p>
            Tierna has studied games development for 5 years with a specialty in multiplayer VR experiences. Adept at code, he is fluent in a range of programming languages as well as interfacing with animation and 3D modelling.
          </p>
        </mat-card-content>
      </mat-card>

      
      <mat-card class="example-card"  fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="50%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          </mat-card-header>
        <img mat-card-image src="/assets/theteam/suriya.jpg" alt="Photo of a Shiba Inu">
        <mat-card-title>Suriya Swami</mat-card-title>
        <mat-card-subtitle>Technical Developer</mat-card-subtitle>
        <mat-card-content>
          <p>
            Suriya is an XR enthusiast and is passionate about AR and its potential. Being a Software Engineer he is adept to a wide range of technologies and programming languages. Interested in all-inclusive Industry 4.0 systems.
          </p>
        </mat-card-content>
      </mat-card>

      
      <mat-card class="example-card"  fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="50%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          </mat-card-header>
        <img mat-card-image src="/assets/theteam/henry.jpg" alt="Photo of a Shiba Inu">
        <mat-card-title>Henry Gaudet</mat-card-title>
        <mat-card-subtitle>Project Owner</mat-card-subtitle>
        <mat-card-content>
          <p>
            Henry’s background covers everything from creative works to training, caring and even aerial reconnaissance, experience and versatility he brings to every project. He is fascinated with the potential of new media and technology.
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card"  fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="50%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          </mat-card-header>
        <img mat-card-image src="/assets/theteam/Leon.jpg" alt="Photo of a Shiba Inu">
        <mat-card-title>Leon Harney</mat-card-title>
        <mat-card-subtitle>Technical Developer</mat-card-subtitle>
        <mat-card-content>
          <p>
            A graduate from AIT with a degree in Software Design: game dev. Leon loves to learn new things and is always looking expand his programming knowledge, with a passionate interest in all things sport.
          </p>
        </mat-card-content>
      </mat-card>

      
      <mat-card class="example-card"  fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="50%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          </mat-card-header>
        <img mat-card-image src="/assets/theteam/Niamh.jpg" alt="Photo of a Shiba Inu">
        <mat-card-title>Niamh King</mat-card-title>
        <mat-card-subtitle>Creative Developer</mat-card-subtitle>
        <mat-card-content>
          <p>
            Niamh made her move to 3D Animation from her background in fine arts, studying visual culture and painting as an undergraduate. She is motivated by a desire to explore digital media as innovative creative tools.
          </p>
        </mat-card-content>
      </mat-card>

      
      <mat-card class="example-card"  fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="50%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          </mat-card-header>
        <img mat-card-image src="/assets/theteam/sarah.jpg" alt="Photo of a Shiba Inu">
        <mat-card-title>Sarah Dunne</mat-card-title>
        <mat-card-subtitle>Creative Developer</mat-card-subtitle>
        <mat-card-content>
          <p>
            Having recently completed her H Dip in 3D Animation and Visual Effects from DKIT, Sarah aspires to become a storyteller through 3D animation. She is passionate about painting, drawing and other types of “mess making art”.
          </p>
        </mat-card-content>
      </mat-card>
    <!-- </div> -->

    <mat-card class="example-card"  fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="50%">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        </mat-card-header>
      <img mat-card-image src="/assets/theteam/Shail.jpg" alt="Photo of a Shiba Inu">
      <mat-card-title>Shail Nimishkumar Shah</mat-card-title>
      <mat-card-subtitle>Technical Developer</mat-card-subtitle>
      <mat-card-content>
        <p>
          graduate from Trinity College Dublin in Computer Science. He has a keen interest in learning and building immersive applications with his creative imagination and has prior experience working as a software developer.
        </p>
      </mat-card-content>
    </mat-card>

    
  
  </div>
</div>
<h3>Join the Team
<div class="example-button-row">
  <button mat-raised-button >Apply Now</button>
  <div class="ws"><img mat-card-image src="/assets/Odeh.jpg" ></div>

</div>
<!-- <div class="ws"><img mat-card-image src="/assets/Odeh.jpg" ></div> -->

</h3>